body{
    background-color: #1A0B2E;
    color: white;
}


.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav h1{
    margin: 30px 0 30px 200px;
}
#logo{
   color: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-top: 35px;
}
nav .btn-1{
    color: white;
    /* background-color: linear-gradient(#F7E93F #FB09B4 #9100F8); */
    margin: 24px 200px 24px 0;
    padding: 10px 25px 10px 15px;
    border-radius: 15px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

}
nav .bar{
    display: none;
}

.banner{
    background-image: url(../assets/hero-bg.png);
    height: 800px;
    background-repeat: no-repeat;
}
.banner .new{
    background-color: #00FF88;
    color: black;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    margin: 0 720px 0 720px;
    transition: ease-in-out ;
    
}
.banner .naw{
    color: #1A0B2E;
}
.banner .banner-image .hero-circle{
    position: absolute;
    left: 635px;
    margin-top: 100px;
}
.banner .banner-image .microphone{
    position: absolute;
    left: 750px;
    top: 300px;
}
.banner .banner-container{
    color: white;
    text-align: center;
    margin-top: 500px;
}
.banner .banner-container h1{
    font-weight: bolder;
    margin-bottom: 8px;
}
.banner .banner-container .btn-2{
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 18px;
    border: none;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

}
.banner .banner-container .btn-3{
    padding: 10px 10px 10px 10px;
      border-radius: 18px;
      color: #00FF88;
      border: 2px solid #00FF88;
      background-color: #1A0B2E;
      margin-left: 10px;
}
.podcast{
    text-align: center;
}
.podcast-container{
    display: flex;
    justify-content: space-around;
}
.podcast h2{
    font-weight: bold;
}
.podcast-container h2{
    color: #00FF88;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
.podcast-container p{
    margin-top: -20px;
    color: rgba(220, 206, 206, 0.841);
}
.new{
    font-weight: 600;
    background-color:#00FF88;
    border-radius: 15px;
    padding: 8px;
    text-align: center;
    margin: 0 720px 0 720px;
    position: absolute;
    bottom: 450px;
    right: -130px;
}
.box{
    background-color: #351165;
    
}
.grid-section{
    text-align: center;
    margin-top: 120px;
}
.box-container-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 40px 200px 0 200px;
}
.box-container-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 200px 100px 200px;
}
#box-1{
    grid-row: span 2;
    margin-right: 40px;
    border-radius: 25px;
    padding: 50px;
    align-content: center
}
#box-2{
    padding: 50px;
    border-radius: 25px;
}
#box-3{
      padding: 50px;
      margin-top: 30px;
      border-radius: 25px;
}
#box-4{
    margin-right: -150px;
     padding: 50px;
     border-radius: 25px;
}
#box-5{
    margin-left: 200px;
     padding: 50px;
     border-radius: 25px;
}
.box-container-1 p ,.box-container-2 p ,.podcast p ,.banner .banner-container p {
    font-size: small;
    color: rgb(163, 157, 157);
}
.cards .cards-title{
    text-align: center;
}
.cards .cards-item{
    display: flex;
    margin: 40px 200px 0 40px;
    gap: 30px;
}
.cards .cards-item .card-1{
    text-align: justify;
    border-radius: 25px;
    background-color: #351165;
}
.cards .cards-item .card-1 h2,p{
    padding-left: 20px;
    padding-right: 20px;
}
.cards .cards-item .card-2{
     text-align: justify;
    border-radius: 25px;
    background-color: #351165;
}
.cards .cards-item .card-2 h2,p{
     padding-left: 20px;
    padding-right: 20px;
}
.cards .cards-item .card-3{
     text-align: justify;
    border-radius: 25px;
    background-color: #351165;
}
.cards .cards-item .card-3 h2,p{
     padding-left: 20px;
    padding-right: 20px;
    
}
.cards .cards-item .card-1 .youtube ,.card-2 .youtube ,.card-3 .youtube{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.host .host-title{
    text-align: center;
    margin: 100px 200px 0 200px;
}
.host .host-name{
    margin-left: 500px;
    margin-top: 80px;
}
.host .host-details{
    margin-left: 480px;
    margin-right: 80px;
    font-size: medium;
    color: rgb(192, 187, 187);
}
.host .host-image{
    margin-left: 250px;
    margin-top: -160px;
}
.host .icon{
    margin-left: 500px;
    margin-top: -40px;
}
.host .icon img{
    margin-left: 10px;
    border-radius:5px ;
}
.host .for-color{
    background-color: #351165;
}
.last-work{
    background-image: url(/assets/footer-bg.png);
    height: 400px;
}
.last-work .last-icon{
    display: flex;
    justify-content: center;
    margin-top: 220px;
    margin-left: 30px;
    color: rgb(163, 157, 157);

}
.last-work .last-head{
    text-align: center;
    font-size: xx-large;
    margin-top: 120px;
    margin-bottom: -50px;
    position: relative;
    top: 150px;
}
.last-work .copyright{
    text-align: center;
    margin-top: 10px;
        font-size: small;
    color: rgb(163, 157, 157);
}

@media screen and (max-width:576px) {
    nav h1{
        margin-left: 10px;
    }
    nav ul{
        display: none;

    }
    nav .btn-1{
        display: none;
        /* margin-left: 180px;
        animation: forwardsz; */
        
    }
    nav .bar{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .new{
        margin: auto;
        position: absolute;
        right: 60px;
        bottom: 600px;
    }
    
    .banner .banner-image .hero-circle{
        left: 50px;
    }
    .banner .banner-image .microphone {
        top: 330px;
        left: 170px;
    }
    .podcast-container{
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }
    .box-container-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 15px;
        

    }
    .box-container-2{
        gap: 10px;
         display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
    }
     #box-1,#box-2,#box-3,#box-4, #box-5{
        margin: 15px -10px 20px 20px;
        height: 230px;
        width: 230px;
    }
    .cards .cards-item {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: -20px;
        margin-top: 40px;
    }
    .host .host-title{
       text-wrap: nowrap;
       justify-items: center;
    }
    .host .host-image{
        position: absolute;
        left: -130px;
        margin-top: -510px;
    }
    .host .host-name{
      position: absolute;
      left: -350px;
      margin-top: -150px;
    }
    .host .host-details{
    margin-right: -10px;
     margin-left: -10px;
     margin-top: 400px;
     padding: 10px;
     text-align: center;
     justify-items: center;
    }
    .host .icon{
        display: flex;
        position: absolute;
        left: -350px;
        margin-top: 20px;

    }
    .last-work .last-head{
        margin-top: -40px;
    }
    .last-work .last-icon{
       display: grid;
       grid-template-columns: repeat(2,1fr);
    }
}