

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav h1{
    margin: 30px 0 30px 200px;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-top: 35px;
}
nav .btn-1{
    /* background-color: linear-gradient(#F7E93F #FB09B4 #9100F8); */
    margin: 24px 200px 24px 0;
    padding: 10px 35px 10px 15px;
    border-radius: 15px;
}
.banner{
    background-image: url(../assets/hero-bg.png);
    height: 800px;
    background-repeat: no-repeat;
}
.banner .banner-image .hero-circle{
    position: absolute;
    left: 635px;
    margin-top: 100px;
}
.banner .banner-image .microphone{
    position: absolute;
    left: 750px;
    top: 300px;
}
.banner .banner-container{
    color: white;
    text-align: center;
    margin-top: 500px;
}
.banner .banner-container h1{
    font-weight: bolder;
    margin-bottom: 8px;
}
.banner .banner-container .btn-2{
    padding: 10px 10px 10px 20px;
    border-radius: 18px;
    border: none;
}
.banner .banner-container .btn-3{
    padding: 10px 10px 10px 20px;
      border-radius: 18px;
      color: green;
      border: 2px solid green;
      background-color: none;
      margin-left: 10px;
}
.podcast{
    text-align: center;
}
.podcast-container{
    display: flex;
    justify-content: space-around;
}
.podcast h2{
    font-weight: bold;
}
.podcast-container h2{
    color: green;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
.podcast-container p{
    margin-top: -20px;
}
.new{
    font-weight: 600;
    background-color:#00FF88;
    border-radius: 15px;
    padding: 8px;
    text-align: center;
    margin: 0 720px 0 720px;
    position: absolute;
    bottom: 450px;
    right: -130px;
}